$bg-dark-10: #191919;
$bg-dark-20: #252529;
$bg-gray-30: #8d8d8dd8;
$bg-gray-40: #ababab61;
$bg-blue-50: #537FE7;
$bg-shadow-60: rgba(0, 0, 0, 0.30) 0 5px 20px;
$bg-white-70: #EDEDED;
$bg-white-80: #ffffff;